__pycache__/
*.py[cod]
*$py.class
*.pyc
.idea
.todo
*.log
*.backup
tf_env/
*.png
*.mp4
*.mkv

.tmp/
temp/
.venv/
venv/
env/
workflow/
gfpgan/
models/inswapper_128.onnx
models/GFPGANv1.4.pth
*.onnx
models/DMDNet.pth
faceswap/
.vscode/
switch_states.json
media/Colapinto.jpg
media/Obama.jpg
media/Messi.jpeg
media/Rajesh1.jpg
.env/
*.env
*.DS_Store
*.ipynb_checkpoints
media/Alexandre Costa - saiba mais sobre o fundador da Cacau Show.jpeg
.gitignore
media/Chocholate caro_ Cacau subiu de preço por medo de escassez futura, mas não se justifica agora, diz CEO da Cacau Show - Estadão.jpeg
